{% extends 'base_layout.html' %}

{% block body %}
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<h1><strong>Conor Breen</strong>
                    <br />Bioinformatician <br />MSc., BSc.<br /></h1>

                    <!-- Footer -->
                    <footer id="footer">
                        <div class="inner">
                            <ul class="icons">
                                <li><a href="https://www.linkedin.com/in/conor-breen-55a336107/" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
                                <li><a href="https://www.github.com/ConorBreen959" class="icon brands fa-github"><span class="label">Github</span></a></li>
                                <li><a href="mailto:conor.breen32@gmail.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
                            </ul>
                        </div>
                    </footer>
				</div>
			</header>

		<!-- Main -->
			<div id="main">

				<!-- One -->
					<section id="one">
						<header class="major">
							<h2>About Me</h2>
						</header>
						<p>Experienced bioinformatician with a passion for my field and a keen interest in genomics and data science. My training started with genetics and progressed to bioinformatics, and I have since found great fulfillment in solving biological questions through computational methods.</p>
                        <p>I have strong data analysis and software development skills using R and Python, as well as workflow automation using Snakemake and Nextflow. I also have strong expertise in genomics and molecular biology, including cancer genomics.</p>
                        <p>I am currently working as operational bioinformatician at Zinto Ltd, an equine genetics company. In this role I have initiated and led several major projects including an overhaul of the current bioinformatics codebase and the introduction of a new LIMS system. I’m also responsible for day-to-day analysis of genetic data and for curation of the company’s large genetic database.</p>
						<ul class="actions">
							<li><a href="#personal-projects" class="button">Learn More</a></li>
						</ul>
					</section>

				<!-- Two -->
                    <section id="skills">
                        <div class="col">
                            <h2>Skills</h2>
                            <h3>Bioinformatics</h3>
                            <ul class="labeled-icons">
                                <li>
                                    <h3 class="icon solid fa-dna"><span class="label">DNA</span></h3>
                                    Domain knowledge in genomics and cell biology as well as current NGS technologies.
                                </li>
                                <li>
                                    <h3><img class="icon-image" src="{{ url_for('static', filename='images/python-logo-only.svg') }}" alt=""><span class="label">D</span></h3>
                                    Software development in R and Python.
                                </li>
                                <li>
                                    <h3><img class="icon-image" src="{{ url_for('static', filename='images/bash-logo.svg') }}" alt=""><span class="label">D</span></h3>
                                    Bash scripting fluency.
                                </li>
                                <li>
                                    <h3><img class="icon-image" src="{{ url_for('static', filename='images/logo-snake.svg') }}" alt=""><span class="label">D</span></h3>
                                    Snakemake workflow language.
                                </li>
                                <li>
                                    <h3 class="icon solid fa-chart-area"><span class="label">DEV</span></h3>
                                    Data analysis and visualisation.
                                </li>
                                <li>
                                    <h3><img class="icon-image" src="{{ url_for('static', filename='images/linux-logo.svg') }}" alt=""><span class="label">D</span></h3>
                                    Expertise working in a Linux environment.
                                </li>
                                <li>
                                    <h3 class="icon solid brands fa-github"><span class="label">a</span></h3>
                                    Experience with Github, Gitlab, and Jira.
                                </li>
                                <li>
                                    <h3 class="fa-solid fa-code-compare"></h3>
                                    Version control and other good development practices.
                                </li>
                            </ul>
                            <h3>Other Skills</h3>
                            <ul>
                                <li>Experience working in a scrum agile environment.</li>
                                <li>Working well as part of a team, managing interests, expectations, and development goals.</li>
                                <li>Experience with project planning, scoping, and management.</li>
                            </ul>
                        </div>
                    </section>
                    <section id="experience">
                        <h2>Experience</h2>
                        <div class="row">
                            <div class="col-sm-3 border-right">
                                <h4><strong>Feb 2021 - Present</strong></h4>
                                <h5><strong>Zinto Ltd</strong></h5>
                            </div>
                            <div class="col-md-8">
                                <h4><strong>Operational Bioinformatician</strong></h4>
                                <ul class="bullet-list">
                                    <li>Driving force behind introduction & implementation of the LIMS system; current project owner.</li>
                                    <li>Led the overhauling of existing bioinformatics workflow into a standardised form based on Snakemake; involved an almost total rewrite & implementation of several key upgrades.</li>
                                    <li>Ongoing Linux server optimization & management.</li>
                                    <li>Translation of research outputs & integration into bioinformatic analysis workflows as part of product development.</li>
                                    <li>Devising and implementing novel solutions for genetic testing process and data infrastructure.</li>
                                    <li>Overhauling & management of the genetic database.</li>
                                </ul>
                            </div>
                            <div class="col-sm-3 border-right">
                                <h4><strong>Oct 2020 - Feb 2021</strong></h4>
                                <h5><strong>Enfer Group</strong></h5>
                            </div>
                            <div class="col-md-8">
                                <h4><strong>Laboratory Data Analyst</strong></h4>
                                <ul class="bullet-list">
                                    <li>Implementing data analysis skills and strong working knowledge of molecular biology to analyse RT-PCR results data.</li>
                                    <li>Application of quality control pipelines to ensure integrity of results.</li>
                                    <li>Co-ordinating within the Data Analytics department to make decisions that impact lab operations, informed by best clinical practice and the public health context.</li>
                                </ul>
                            </div>
                            <div class="col-sm-3 border-right">
                                <h4><strong>May 2018 - Aug 2019</strong></h4>
                                <h5><strong>BMS</strong></h5>
                            </div>
                            <div class="col-md-8">
                                <h4><strong>Lab Services Associate</strong></h4>
                                <ul class="bullet-list">
                                    <li>Bioreactor cleaning, assembly, and maintenance.</li>
                                    <li>Downstream buffer preparation and supply management.</li>
                                    <li>Pipette verification and maintenance.</li>
                                </ul>
                            </div>
                        </div>
                    </section>

					<section id="professional-projects">
                        <div class="col">
                            <h2>Professional Projects</h2>
                            <h4><strong>Genetic Analysis Workflow</strong></h4>
                                <ul class="bullet-list">
                                    <li>Initiated & led the development of a genotype data analysis workflow using Snakemake.</li>
                                    <li>Effective rewrite of existing ad hoc workflow to a standardised & maintainable form as well as key workflow upgrades.</li>
                                    <li>This included an upgrade of the genetic database to the latest Equine genome build and accompanying workflow adjustments.</li>
                                </ul>
                            <h4><strong>LIMS</strong></h4>
                                <ul class="bullet-list">
                                    <li>Identified the requirement for a new LIMS system and accompanying update to lab processes.</li>
                                    <li>Took ownership of the introduction and implementation of the LIMS system & development of a middleware application for the transfer of lab results data.</li>
                                    <li>Played a pivotal role in designing an upgraded lab testing process centred around LIMS.</li>
                                    <li>Also involved gathering, cleaning, and migration of all historical Equine sample and results data to create a central source of truth on LIMS.</li>
                                </ul>
                            <h4><strong>Data Engineering Platform</strong></h4>
                                <ul class="bullet-list">
                                    <li>Development of a data engineering solution in the form of a Flask web app.</li>
                                    <li>Designed to manage total data quality and flow between LIMS and other internal software platforms for greater leveraging and quality of the Equine sample testing database.</li>
                                    <li>Built with a Flask and SQLAlchemy backend, and a minimal frontend using HTML and Ajax.</li>
                                </ul>
                            <h4><strong>Masters Research Project (University of Galway)</strong></h4>
                            <h5><strong>An analysis of the overlap between DNA methylation and gene expression patterns during maternal immune activation</strong></h5>
                                <ul class="bullet-list">
                                    <li>Investigated the relationship between gene expression and DNA methylation patterns in a mouse model of maternal immune activation.</li>
                                    <li>Methods included differential expression andmethylation analysis, functional enrichment, and expression-weighted cell type enrichment based on published single-cell RNA-seq reference data.</li>
                                </ul>
                            <h4><strong>Undergraduate Research Project (Dublin City University)</strong></h4>
                            <h5><strong>RNA-seq analysis of Peyer’s patches tissue from mice infected with <i>Fasciola hepatica</i></strong></h5>
                                <ul class="bullet-list">
                                    <li>RNA-seq analysis of immunological samples taken from mice infected with <i>Fasciola hepatica</i>.</li>
                                </ul>
                        </div>
                    </section>

                    <section id="personal-projects">
                        <div class="col">
                            <h2><strong>Personal Projects</strong></h2>
                            <h3>Copernicus</h3>
                            <p>An app for exploring sunrise and sunset times globally, as well as astronomical positions.</p>
                            <h3>Custom UI for <code>gget</code></h3>
                            <p>An app designed to be a custom UI for the brilliant package <code>gget</code> developed by Laura Luebbert with Pachter Labs.</p>
                            <h3>Self-hosting</h3>
                            <p>This app has been built using a Flask backend and a frontend adapted from the Strata template by HTML5UP.<br>
                            It is hosted on my own server along with my other projects. Over this year I've been managing this server including networking and security in my spare time.</p>
                        </div>
                    </section>


                    <section id="education">
                        <div class="col">
                            <h3><strong>Education</strong></h3>
                            <div class="row">
                                <div class="row border-right">
                                    <h4><strong>2019 - 2020</strong></h4>
                                    <div class="col-md-7">
                                        <h4><strong>MSc. in Bioinformatics</strong></h4>
                                        <h5><strong>First Class Honours</strong></h5>
                                        <h5><strong>University of Galway</strong></h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <h4><strong>2014 - 2018</strong></h4>
                                    <div class="col-md-7">
                                        <h4><strong>BSc. in Genetics & Cell Biology</strong></h4>
                                        <h5><strong>Second Class Honours</strong></h5>
                                        <h5><strong>Dublin City University</strong></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section id="publications">
                        <div class="col">
                            <h3><strong>Publications</strong></h3>
                            <div class="row">
                                <h4><strong>2022</strong></h4>
                                <div class="col-sm-10">
                                    <h4><strong>RNA-seq analysis of peyer’s patches at 6 and 18 hours in mice infected with <i>Fasciola hepatica metacecariae</i>.</strong></h4>
                                    <h5><strong>Connick K., Lalor R., Murphy A., GlasgowA., <b>Breen C.</b>, Malfait Z., Harold D., and O’Neill S.M.</strong></h5>
                                    <h5><strong>Vet Parasitol 2022, doi:10.1016/j.vetpar.2021.109643.</strong></h5>
                                </div>
                            </div>
                        </div>

                    </section>

				<!-- Three -->
					<section id="three">
						<h2>Get In Touch</h2>
						<p>If you'd like to get in touch with me for any reason, you can fill in the form<br>below and I'd be very happy to hear from you.</p>
						<div class="row">
							<div class="col-8 col-12-small">
								<form method="post" action="{{ url_for("PublicView.contact")}}">
                                    {{ form.hidden_tag() }}
									<div class="row gtr-uniform gtr-50">
										<div class="col-6 col-12-xsmall"><input type="text" name="{{ form["name"].name }}" id="{{ form["name"].id }}" placeholder="{{ form["name"].label.text }}" /></div>
										<div class="col-6 col-12-xsmall"><input type="email" name="{{ form["email"].name }}" id="{{ form["email"].id }}" placeholder="{{ form["email"].label.text }}" /></div>
										<div class="col-12"><textarea name="{{ form["message"].name }}" id="{{ form["message"].id }}" placeholder="{{ form["message"].label.text }}" rows="4"></textarea></div>
									</div>
                                    <br>
                				    {{ form.recaptcha }}
                                    <br>
                                    <ul class="actions">
                                        <li><input id="{{ form["submit"].id }}" type="submit" value="Send Message" /></li>
                                    </ul>
								</form>
							</div>
							<div class="col-4 col-12-small">
								<ul class="labeled-icons">
									<li>
										<h3 class="icon solid fa-envelope"><span class="label">Email</span></h3>
										<a href="mailto:conor.breen32@gmail.com">conor.breen32@gmail.com</a>
									</li>
								</ul>
							</div>
						</div>
					</section>
			</div>
    </body>
{% endblock %}
